body{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #26A69A;
    height: 100vh;
}
h1{color: #fff;}
.logo{margin: 5% 0%}
.logo img{width: 200px;}
.contentWrap{display: none;}
#chatWrap{float: left;}
#users{font-weight: bold;}
#chat{
    position: relative;
    width: 100%;
    float:left;
    min-height:100px;
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    margin: 10px 0px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
}
.disNone{display: none;}
.alto{height: 50%;}
.ancho{width: 50%;}
.verde{color: green;}