*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}
body{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #26A69A;
    height: 100vh;
    color: #fff;
}
audio, video {
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    vertical-align: top;
    border: 5px solid #2E9F83;
}
#unique-token{font-weight: bolder;}
.input-conference {
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    font-size: 2em;
    margin: .2em;
    width: 30%;
}
p {padding: 1em;}
li {
    border-bottom: 1px solid rgb(189, 189, 189);
    border-left: 1px solid rgb(189, 189, 189);
    padding: .5em;
}
